/*color*/
body a,#mainNav li.active a,#mainNav li a:hover, #mainNav li a:active,#mainNav li ul li a:hover, #mainNav li ul li a:active,body .footer .footerTop .widget .title,body .footer .copyright .bottomNav ul li a:hover,#banner.subBanner .desc,.liquid-slider-wrapper .content .italic,#content.portfolios .group .option-set li a.selected,.recentProject .content .title a:hover,.footer .copyright p a:hover,#mainContent aside .widgets .latestNews li .title a:hover,.ourTeam .teamMembers .desc,.latestProject .col-md-3.col-sm-3 .title a:hover,#mainContent .blogPost .metaSection .postHeader .content .title a:hover,#mainContent aside .widgets .recentpost li .content p a:hover,.relatedPost p a:hover,.leaveComment form div label span,#mainContent .blogPost .metaSection .metapost .icon40 p,#mainContent .blogPost .metaSection .metapost .icon30 p,#mainContent .latestPost .blog .content .title a:hover,#mainContent .singleServices .servicesHeader .postHeading .desc,body #mainNav li a.current,#mainNav ul.menu ul li:hover > a.current,.sky_blue,.recentProject .hoverEffect .mask p{
	color:#1c4a72;
}

/*border*/
.nav li.active a, .nav li.active a:hover {
	border:1px solid #1c4a72;
}
.light-overlay {
	border-bottom: 55px solid #1c4a72;
}
.slider-parallax {
	border-top: 2px solid #1c4a72;
}
.slider-parallax{
	border-bottom: 2px solid #1c4a72;
}
.fullwidthbanner-container .tp-caption.large_bg{
	border-color: #1c4a72;
}
#mainNav ul.menu ul,#content.portfolios .group .option-set li a.selected {
	border-top: 2px solid #1c4a72;
}
#mainNav li.active{
	border-top: 5px solid #1c4a72;
}
.footer .footerTop, #content.portfolios .group{
	border-top-color: #7392AD;
}
.pageTop{
	border-bottom: 5px solid #7392AD;
}
#mainNav ul.menu ul li.arrow {
	border-bottom: 7px solid #1c4a72;
}

#mainContent aside .widgets .sidebarNav li a.active .right-arrow,#mainContent aside .widgets .sidebarNav li a:hover .right-arrow{
	border-right: 10px solid #1c4a72;
}
/*Background*/
#mainContent aside .widgets .sidebarNav li a.active,#mainContent aside .widgets .sidebarNav li a:hover,.fullwidthbanner-container .tp-caption.buy_now a,.fullwidthbanner-container .tp-caption.color-bg{
	background-color:#1c4a72;
}
.bx-wrapper .bx-next:hover,.bx-wrapper .bx-prev:hover,.liquid-slider-wrapper .liquid-nav-right-arrow:hover,.liquid-slider-wrapper .liquid-nav-left-arrow:hover,.ourSkills .progress_bar .progress .bar,.pricingTableCon .pricetable .title,.slider-parallax,.da-arrows span,.da-dots span,.iview-caption.caption2,.flex-control-nav a.flex-active  {
	background-color: #1c4a72;
}
.footer .copyright{
	background-color: #062642;
}

.btn.btn-theme-pri,#mainContent .pagination ul li a.active{
    border: 1px solid #1c4a72;
	background: #1c4a72;
	background-color: #1c4b73;
	background-image: -moz-linear-gradient(top, #235d8f, #122f49);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#235d8f), to(#122f49));
	background-image: -webkit-linear-gradient(top, #235d8f, #122f49);
	background-image: -o-linear-gradient(top, #235d8f, #122f49);
	background-image: linear-gradient(to bottom, #235d8f, #122f49);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff235d8f', endColorstr='#ff122f49', GradientType=0);
	box-shadow: inset 0px 0px 0px 1px #235d8f, 0px 0px 0px 4px rgba(18, 47, 73, 0.2) !important;
   text-shadow: 0px 1px 0px rgba(18, 47, 73, 7.5);
}

.btn.btn-theme-pri:hover ,#mainContent aside .widgets .tag li a:hover{
	background-color: #153857;
	background-image: -moz-linear-gradient(top, #194266, #102a41);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#194266), to(#102a41));
	background-image: -webkit-linear-gradient(top, #194266, #102a41);
	background-image: -o-linear-gradient(top, #194266, #102a41);
	background-image: linear-gradient(to bottom, #194266, #102a41);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff194266', endColorstr='#ff102a41', GradientType=0);
	}

.listStyles ul li .circleColor{
	background:#1c4a72;
	 border: 1px solid #1c4a72;
	box-shadow: inset 0px 0px 0px 1px #1c4a72, 0px 0px 0px 3px rgba(28, 74, 114, 0.2) ;
}

.nav li.active a, .nav li.active a:hover {
    border: 1px solid #1c4a72;
	background: #1c4a72;
	background-color: #1c4b73;
	background-image: -moz-linear-gradient(top, #235d8f, #122f49);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#235d8f), to(#122f49));
	background-image: -webkit-linear-gradient(top, #235d8f, #122f49);
	background-image: -o-linear-gradient(top, #235d8f, #122f49);
	background-image: linear-gradient(to bottom, #235d8f, #122f49);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff235d8f', endColorstr='#ff122f49', GradientType=0);
}

#mainContent aside .widgets .tag li a{
    border: 1px solid #1c4a72;
	background: #1c4a72;
	background-color: #1c4b73;
	background-image: -moz-linear-gradient(top, #235d8f, #122f49);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#235d8f), to(#122f49));
	background-image: -webkit-linear-gradient(top, #235d8f, #122f49);
	background-image: -o-linear-gradient(top, #235d8f, #122f49);
	background-image: linear-gradient(to bottom, #235d8f, #122f49);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff235d8f', endColorstr='#ff122f49', GradientType=0);
	box-shadow: 0px 0px 0px 1px #122f49;
}


#mainContent .blogPost .metaSection .metapost .icon40,#mainContent .blogPost .metaSection .metapost .icon30 {
	background: #A9C3DA;
	background: rgba(21, 56, 87, 0.2);
}


.btn.btn-inverse {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#525252), to(#3d3d3d));
  background-image: -webkit-linear-gradient(top, #525252, 0%, #3d3d3d, 100%);
  background-image: -moz-linear-gradient(top, #525252 0%, #3d3d3d 100%);
  background-image: linear-gradient(to bottom, #525252 0%, #3d3d3d 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff525252', endColorstr='#ff3d3d3d', GradientType=0);
  border: 1px solid #3e3e3e;
  text-shadow: none;
  box-shadow: inset 0px 0px 0px 1px #5b5b5b !important;
}
.btn.btn-inverse:hover {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#3d3d3d), to(#525252));
  background-image: -webkit-linear-gradient(top, #3d3d3d, 0%, #525252, 100%);
  background-image: -moz-linear-gradient(top, #3d3d3d 0%, #525252 100%);
  background-image: linear-gradient(to bottom, #3d3d3d 0%, #525252 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3d3d3d', endColorstr='#ff525252', GradientType=0);
}